Header add "Cache-Control" "no-cache"

#Rewrite everything to https
RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

#Error pages
ErrorDocument 403 /forbidden.html
ErrorDocument 404 /notfound.html
