@font-face {
  font-family: FreeSerif;
  src: url(fonts/FreeSerif.woff);
}

@font-face {
  font-family: FreeSans;
  src: url(fonts/FreeSans.woff);
}

@font-face {
  font-family: FreeSansBoldOblique;
  src: url(fonts/FreeSansBoldOblique.woff);
}

@font-face {
  font-family: FreeSerifItalic;
  src: url(fonts/FreeSerifItalic.woff);
}

@font-face {
  font-family: FreeSerifBoldItalic;
  src: url(fonts/FreeSerifBoldItalic.woff);
}

@font-face {
  font-family: FreeSansBold;
  src: url(fonts/FreeSansBold.woff);
}

body {
  margin: 0px;
  overflow-y: scroll;
  font-size: 26px;
}

@media screen and (max-width: 1400px) {
    body {
        font-size: 20px;
    }
}

a {
    font-family: FreeSerif;
    color: #07608f;
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: FreeSans;
}

p {
    color: #444;
    font-family: FreeSerif;
    font-size: 1em;
}


#page-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100vh;
}

#content {
    flex-grow: 1;
    padding-bottom: 40px;
}

.header {
  border-bottom: 1px solid black;
  text-align: center;
  color: #222;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  margin: 20px;
}

.myname {
  margin: 0 auto 0 0;
  padding: 0px 0px 40px 10px;
  font-size: 2em;
}

.myname a {
  color: black;
  text-decoration: none;
}

.myname h2 {
  margin: 0px;
}

.myname a {
  font-family: FreeSerifBoldItalic;
}

.tab {
  overflow: hidden;
  background-color: #fff;
  margin: auto 2% .25em 2%;
}

.tab button {
  background-color: inherit;
  float: left;
  cursor: pointer;
  padding: 6px 16px;
  font-family: FreeSans;
  color: #444;
  font-size: 1.2em;
  border-width: 0 0 7px 0;
  border-color: transparent;
  border-style: solid;
  display: inline-block;
}

/* Not best practice put necessary for style */
.tab button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.tab button:hover {
  border-color: #ddd;
}

.tab button.active {
  background-color: #474a4f;
  color: white;
  border-color: white;
}

/*largest screens*/
.tabcontent {
    display: none;
    max-width: 50%;
    margin: 0 auto;
}

/*medium screens*/
@media screen and (max-width: 1400px) {
    .tabcontent {
        max-width: 65%;
    }
}

/*small screens*/
@media screen and (max-width: 1000px) {
    .tabcontent {
        max-width: 650px;
    }
}

#home {
  font-family: FreeSerif;
}

#home p {
    padding: 0 5px;
}

#resume-title {
  text-align: left;
}

#resume-content {
  display: flex;
  flex-flow: row wrap;
}

.category-content {
  flex: 2 1 65%;
  padding: .5em;
}

.category-title {
    width: 8em;
  padding: .5em;
}

.category-title h4 {
    margin: 0 0.5em 0 0;
  font-family: FreeSans;
  font-size: 1.3em;
  color: #333;
}

.category-content p {
  margin: 0;
}

.category-content ul {
  list-style-type: "– ";
  font-family: FreeSerif;
  margin-top: 0px;
}

#profile-picture {
    float: right;
    width: 200px;
    height: 200px;
    border: 3px solid #474a4f;
    margin-left: 10px;
}

.resume-object {
  font-family: FreeSerifItalic;
  font-size: 1.0em;
  color: #444;
}

.resume-list {
  font-family: FreeSerif;
  font-size: 1em;
  color: #444;
}

.study-location {
  font-family: FreeSerif;
  font-size: 0.9em;
}

.study-year {
  font-family: FreeSerif;
  font-size: 0.9em;
}

.resume-entry {
  margin: 0 0 20px 0;
}

.resume-subcategory {
  font-family: FreeSerif;
  font-size: 1.3em;
  text-decoration: underline;
  padding: 0 0 10px 0;
}

#aboutme {
  font-family: FreeSerif;
  font-size: 0.9em;
  text-align: justify;
}

#footer, #page-container {
    flex-shrink: 0;
}

#footer {
    height: 40px;
    width: 100%;
    background-color: #ddd;
    color: #444;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer a, #footer p {
    font-family: FreeSans;
    font-size: 0.8em;
    color: #777;
    margin: 0;
}

#gallery h3 {
    font-size: 1.7em;
    display: block;
}

#gallery p {
    display: block;
}

.gallery-category {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.gallery-photo {
    flex-grow: 1;
    height: 35vh;
    padding: .5em;
}

@media screen and (max-width: 600) {
    .gallery-photo {
        height: 100%;
    }
}

.gallery-photo img {
    min-width: 100%;
    max-height: 100%;
    object-fit: cover;
    vertical-align: bottom;
    border-radius: .2em;
}

.gallery-photo img:hover {
    opacity: 0.7;
    transition: 0.3s;
    cursor: pointer;
}

.gallery-photo:last-child {
    flex-grow: 10;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  max-width: 80%;
  max-height: 70%;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content , #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform: scale(0.1)}
  to {transform: scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

#contactinformation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contactbox {
    padding: 0 1em;
}

#contactdescription {
    flex: 1 1 300px;
}

#contactlinks {
    flex: 1 1 150px;
    justify-content: center;
    align-content: center;
}

#contactlinks ul {
    list-style-type: none;
    background-color: #eee;
    padding: 1em;
}

#contactlinks a {
    font-family: FreeSansBold;
    color: #666;
}
